# ==========================
# Operating System Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Editor Files
# ==========================
.vscode/
.idea/

# ==========================
# Environment Variables
# ==========================
.env
.env.*

# ==========================
# Logs
# ==========================
*.log
logs/

# ==========================
# Node.js
# ==========================
node_modules/

# ==========================
# Docker
# ==========================
docker-compose.override.yml

# ==========================
# Terraform
# ==========================
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# ==========================
# Python
# ==========================
__pycache__/
*.pyco

